// Specific CSS for your home-page
.home-page-container {
  display: flex;
  flex-direction: column;
  background-image: url(modern-bar-jap_type.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}
.main-title {
  height: 300px;
  padding-top: 70px;
  text-align: center;
}
.main-title h1{
  font-family: 'Arimo', sans-serif;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px black, 1px 1px black, -3px 0 4px black;
}
.menu-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 20px;
  height: 400px;
  // justify-content: flex-end;
}
.index {
  font-family: 'Robotot', sans-serif;
  color: white;
  font-size: 30px;
}
.add-cocktail {
  font-family: 'Robotot', sans-serif;
  color: white;
  font-size: 30px;
  // height: 200px;
}
button{
  border: black solid;
  background: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
