<div class="home-page-container">
  <div class="main-title">
    <h1> welcome to mister cocktail!</h1>
  </div>
  <div class="menu-container">
    <div class="index">
      <p>See all the cocktails</p>
    </div>
    <div class="add-cocktail">
      <p>Add a new cocktails</p>
    </div>
  </div>
</div>
