<div class="home-page-container">
  <div class="main-title">
    <h1> welcome to mister cocktail!</h1>
  </div>
  <div class="menu-container">
    <div class="index">
      <button type="button">See all the cocktails</button>

    </div>
    <div class="add-cocktail">
      <button type="button">Add a new cocktails</button>
    </div>
  </div>
</div>
