<div class="home-page-container">
  <div class="main-title">
    <h1> welcome to mister cocktail!</h1>
  </div>
  <div class="menu-container">
    <div class="index button">
      See all the cocktails
    </div>
    <div class="add-cocktail button">
      Add a new cocktails
    </div>
  </div>
</div>
